@colorA:'red';
@import "./default.less";
@import "./loading.less";

div{color:@colorA}

.container{
  .nav-left{
    height: calc(100vh);
    background-color: #001529;
    color: @colorL;
  }
  .main{
    background-color:@colorL;
    height: calc(100vh);
    overflow:auto;
  }
  .content{
    position: relative;
    padding:20px;
  }
}